<div>
    <mat-card style="width: 24rem; padding: 5px;">
        <mat-card-header>
            <h3>{{ task.title }} | {{ task.id }}</h3>
        </mat-card-header>
        <mat-card-subtitle>
            <h4>{{ task.created_at | date:'dd/MM/yyyy HH:mm:ss' }}</h4>
        </mat-card-subtitle>
        <mat-card-subtitle>
            <h5> Notas </h5>
        </mat-card-subtitle>
        <mat-card-content>
            <p style="white-space: pre-line;">
                {{ task.description }}
            </p>
        </mat-card-content>
        <mat-card-actions class="separator">
            <mat-slide-toggle [checked]="task.done" (change)="onToggleChange()">
                <p *ngIf="task.done"> Completado!</p>
                <p *ngIf="!task.done"> Activo </p>
            </mat-slide-toggle>
            <mat-button-toggle-group>
                <mat-button-toggle (click)="onDeleteTask()" class="deleteToggle">
                    <mat-icon class="deleteIco">
                        delete_sweep
                    </mat-icon>
                </mat-button-toggle>
                <mat-button-toggle routerLink="/tasks/{{task.id}}/">
                    <mat-icon>
                        update
                    </mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </mat-card-actions>

    </mat-card>
</div>